/*----------------------------
 * 
 * Theme for YouTube Playlist API
 *
 * Default theme meant to resemble YouTube native style
 *
 */

/*-----------------
  Resets
  ----------------*/
li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*-----------------
  Colors
  -----------------*/


/*-----------------
  Fonts
  -----------------*/
.ytpe_playlist-wrapper {
	font: 14px/1.4 Arial, sans-serif;
	color: #FFF;
}



/*-----------------
  Layout
  -----------------*/
.ytpe_playlist-wrapper {
	object,
	.ytpe_playlist-list {
		display: inline-block;
		vertical-align: top;
	}
	.ytpe_playlist-list {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
		margin-left: -5px;
		/** @todo: should this be javascript, for portability? **/
 		width: 450px;
		height: 299px; /* video height - border */
		
	}
}

/*------------------
  List styling
  ------------------*/
  .ytpe_playlist-list {
 	background-color: #2B2B2B;
 	border-top: 30px solid #1B1B1B;
 	border-bottom: 27px solid #1B1B1B;
  }
 .ytpe-playlist_list-item {
 	border-top: 1px solid #4D4D4D;
 	border-bottom: 1px solid #222222;
 	margin-bottom: 1px;
 	padding: 10px 0 5px 10px;
 	> span {
 		vertical-align: top;
 		display: table-cell;
 	}
 	&:hover {
 		background-color: #353535;
 	}
 	&.ytpe-playlist_list-item_active-item {
 		background-color: #4F4F4F;
 		border-color: #4F4F4F;
 	}
 }
 .ytpe-playlist_list-item_index {
 	vertical-align: middle;
 	color: #666666;
 	padding-top: 10px;
 	text-shadow: 1px 1px 1px black;
 }
 .ytpe-playlist_list-item_thumbnail {
 	padding: 0 5px 0 14px;
 	img {
 		width: 57px;
 		height: auto;
 	}
 }
 .ytpe-playlist_list-item_title {
	text-align: left;
	padding-right: 40px;
 }
 

 .jspVerticalBar {
 	display: none;
 	width: 16px
 }
 .jspTrack {
 	background-color: #2B2B2B;
 	border-left: 1px solid #242424;
 	padding-left: 2px;
 }
 .jspDrag {
 	background-color: #1B1B1B;
 }
 .jspContainer:hover {
 	.jspVerticalBar {
 		display: inherit;
 	}
 }